<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Banner for A2A</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>
    <div style="margin-bottom: 100px">Banner for A2A</div>

    <h1>300x250 Banner for A2A</h1>
    <div style="padding: 0 30px">
      <div id="adspot-20"></div>
      <script>
        var rdntag = rdntag || {};
        rdntag.cmd = rdntag.cmd || [];
        rdntag.cmd.push(function () {
          rdntag.defineAd(20, 'adspot-20').setResponsive(true);
          rdntag.display('adspot-20');
        });
      </script>
    </div>

    <script src="aa.js"></script>
  </body>
</html>
