<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Activity</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>

    <h1>Here is the tag</h1>
    <script type="text/javascript">
      var rdnActivityParams = {
        code: 'test1',
        rz: 'testRz',
        idfa: 'testIDFA',
        adid: 'testADID',
        keys: ['key1', 'key2', 'key3'],
        transaction_id: 'transaction1',
        revenue: 123456,
        email: 'test@rakuten.com',
        easy_id: 'testEasyID',
        category_id: 'testCategoryID',
        keywoord: 'testKeyword',
        items: [
          { item_id: 'item1', price: 123, quantity: 1 },
          { item_id: 'item2', price: 456, quantity: 2 },
        ],
        only_logging: true,
      };
    </script>
    <script src="activity.js" async></script>
  </body>
</html>
