<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Banner for customized adm</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>
    <div style="margin-bottom: 100px">Customized adm</div>

    <h1>300x250 Banner for Customized adm</h1>
    <div style="padding: 0 30px">
      <div id="adspot-5000"></div>
      <script>
        var rdntag = rdntag || {};
        rdntag.cmd = rdntag.cmd || [];
        rdntag.cmd.push(function () {
          rdntag.defineAd(5000, 'adspot-5000');
          rdntag.display('adspot-5000');
        });
      </script>
    </div>

    <script src="aa.js"></script>
  </body>
</html>
