<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>

  <body>
    <div>
      <h1>Banner</h1>
      <ul>
        <li><a href="./banner.html">Banner</a></li>
        <li><a href="./adspot-code.html">Banner by adspot-code</a></li>
        <li><a href="./a2a.html">Banner for A2A</a></li>
        <li><a href="./event.html">Banner for Event</a></li>
        <li><a href="./block-advertiser-id.html">Block advertiserID</a></li>
        <li><a href="./single-request.html">Single Request</a></li>
        <li><a href="./lazy-load.html">Lazy Load</a></li>
        <li><a href="./video.html">Video in Creative</a></li>
        <li>
          <a href="./merchant-ad.html">Banner for MerchantAd (mixedAPI)</a>
        </li>
        <li>
          <a href="./customized-adm.html"
            >Banner for Customized ADM for unit test</a
          >
        </li>
        <li><a href="./carousel.html">Banners in Carousel</a></li>
      </ul>
    </div>
    <div>
      <h1>AMP Banner</h1>
      <ul>
        <li><a href="./amp-banner.html">AMP Banner using aa.js on dev</a></li>
      </ul>
    </div>

    <div>
      <h1>A/B Test sample code</h1>
      <ul>
        <li><a href="./abtest.html">A/B Test</a></li>
      </ul>
    </div>

    <div>
      <h1>SafeFrame</h1>
      <ul>
        <li><a href="./safeframe.html">SafeFrame</a></li>
      </ul>
    </div>

    <div>
      <h1>Viewability</h1>
      <ul>
        <li><a href="./viewability.html">Viewability</a></li>
        <li><a href="./viewability-debug.html">Viewability Debug</a></li>
      </ul>
    </div>

    <div>
      <h1>Retargeting / Activity</h1>
      <ul>
        <li><a href="./retargeting1.html">Retargeting 1</a></li>
        <li><a href="./retargeting2.html">Retargeting 2</a></li>
        <li><a href="./activity.html">Activity</a></li>
      </ul>
    </div>
    <div>
      <h1>Tracking Support</h1>
      <ul>
        <li>
          <a href="./tracking-support.html?rne=testrne&rnp=testrnp">
            Tracking Support
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
