<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Retargeting</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>

    <h1>Here is the tag 1</h1>
    <script type="text/javascript">
      var rdnRetargetingParams = {
        keys: ['shop01', 'shop02', 'shop03', 'shop04', 'shop05'],
        retargetingID: 1,
      };
    </script>
    <script src="rtg.js" async></script>
  </body>
</html>
