<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Video Player</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>
    <div style="margin-bottom: 100px">Video Ads Test</div>

    <h1>Video in Creative</h1>
    <div style="height: 3000px; width: 250%">mergin</div>
    <div id="adspot-30" style="width: 744px; margin-left: 1000px"></div>
    <div style="height: 3000px; width: 250%">mergin</div>
    <script>
      var rdntag = rdntag || {};
      rdntag.cmd = rdntag.cmd || [];
      rdntag.cmd.push(function () {
        rdntag.defineAd(30, 'adspot-30');
        rdntag.display('adspot-30');
      });
    </script>

    <script src="aa.js"></script>
  </body>
</html>
