<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AMP Banner</title>
  </head>

  <body>
    <a href="/index.html">BACK</a>
    <div style="margin-bottom: 100px">AMP Banner</div>

    <h1>ID=1 300x250 Amp Basic Banner</h1>
    <div id="c"></div>
    <script>
      window.runa = {
        id: '1',
        env: 'local',
      };
    </script>
    <script src="amp.js"></script>
  </body>
</html>
